{% set node = elements['#node'] %}
{% set short_type = node.bundle|split('_')|last %}

{% set badge_class = 'badge-' ~ short_type %}
{% set icon_source = directory ~ '/assets/svg/' ~ short_type ~ '.svg' %}
{% set comment_icon_source = directory ~ '/assets/svg/comment.svg' %}

<div class="search-result search-result--node search-result--node--{{ node.bundle|clean_class }} d-flex w-100">
  {# icon #}
  <div class="search-result-icon">
    {{- source(icon_source, ignore_missing=true) -}}
  </div>
  <div class="container px-0 search-result-information">
    <div class="row no-gutters">
      <div class="col search-result-text mx-30">
        {# text: header #}
        <h2 class="search-result-header h5 mb-10">
          <a class="link-unstyled" href="{{ url }}">{{- label -}}</a>
        </h2>
        {# text: body #}
        {% if (searchedComment.comment) %}
          <div class="search-api-excerpt searched-comment d-flex align-items-top">
            <div class="font-weight-bold">
              {{- (searchedComment.comment.bundle == 'os2loop_question_answer' ? 'Reply'|t : 'Comment'|t) ~ ':' -}}
            </div>
            <div class="ml-20">
              {{- searchedComment.comment_text|raw -}}
            </div>
          </div>
        {% else %}
          <div class="search-api-excerpt mb-0">
            {{- elements['#search_api_excerpt']|raw -}}
          </div>
        {% endif %}
        {# badges #}
        <div class="search-result-badges d-flex mt-10">
          <span class="badge badge-primary {{ badge_class }}">{{ node.type.entity.label }}</span>
            {% if node.os2loop_question_answers or node.os2loop_post_comments %}
              {% set reply_field = node.os2loop_question_answers ?: node.os2loop_post_comments %}
              <div class="d-inline-flex align-items-center text-sm ml-15">
                {# comment: icon #}
                {{- source(comment_icon_source, ignore_missing=true) -}}
                {# comment: count #}
                <div class="comment-count ml-10">
                  {{- reply_field.comment_count -}}
                </div>
              </div>
            {% endif %}
        </div>
      </div>
      <div class="col-auto ml-auto">
        {# date #}
        <div class="search-result-date text-sm">
          {{- (node.createdtime|date("d-m-Y")) -}}
        </div>
      </div>
    </div>
  </div>
</div>
