{% set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
  label_display == 'inline' ? 'os2loop-title-text-inline',
  label_display != 'inline' ? 'os2loop-title-text',
]
%}

{% if label_display == 'inline' %}
  <span{{ attributes }}>
  <!-- Performing a replace of the spacing in revision date - Revisions dato -> Revisionsdato -->
    <span{{ title_attributes.addClass(title_classes) }}>{{ label|replace({' ': ''}) }}:</span>
    {% if multiple %}
      <span>
    {% endif %}
    {% for item in items %}
      <span{{ item.attributes }}>{{ item.content }}</span>
    {% endfor %}
    {% if multiple %}
      </span>
    {% endif %}
  </span>
{% endif %}
