{#
/**
 * @file
 * Implementation of user info related to content.
 *
 * Available variables:
 * - user: The user to display info about.
 * - attributes: Contains classes from calling template (optiona).
 */
#}

{# Display author if not anonymous #}
{% set is_anonymous_user = 1 == entity.os2loop_content_anonymous_author.value %}
{% set image = not is_anonymous_user ? drupal_field('os2loop_user_image', 'user', user['#user'].id, 'compact') %}
{% set initials = (is_anonymous_user ? 'Anonymous user'|t|first : (user['#user'].os2loop_user_given_name.value|first ~ user['#user'].os2loop_user_family_name.value|first))|upper %}

<div class="d-inline-flex align-items-center">
  <div class="user-image mr-20">
    <div>{{ image['#items'] is not empty ? image : initials }}</div>
  </div>
  <div class="d-inline-flex align-items-start">
    <div class="user-identity d-block">
      {% if is_anonymous_user %}
        <div class="user-name">{{ 'Anonymous user'|t }}</div>
      {% else %}
        {% set user_url = user['#user'].id is not empty ? url('entity.user.canonical', {'user': user['#user'].id}) : '#' %}
        <div class="user-name user-link">
          <a href="{{ user_url }}" class="link-unstyled">{{ user['#user'].os2loop_user_given_name.value }} {{ user['#user'].os2loop_user_family_name.value }}</a>
        </div>
        <div>{{ user['#user'].os2loop_user_job_title.value }}, {{ user['#user'].os2loop_user_place.value }}</div>
      {% endif %}
    </div>
    {% if attributes.hasClass('top-comment') %}
      <div class="badge badge-primary">{{ attributes.hasClass('correct-answer') ? 'Editorial recommendation'|t : 'Most votes'|t }}</div>
    {% endif %}
  </div>
</div>
{% if date %}
  <div class="ml-auto user-reply-date text-sm">
    {# date #}
    {{ date|striptags|trim|slice(5, 10)|replace({'/': '-'}) }}
  </div>
{% endif %}
