{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% set row_limit = 3 %}
{% set hidden_rows = rows[row_limit:] %}
{% set comment_type = (hidden_rows|first).content['#row']._entity.comment_type.target_id %}

{% set row_classes = [
    default_row_class ? 'views-row',
  ]
%}

{% if title %}
  <h3 class="views-rows-title mt-30 mb-0">{{ title }}</h3>
{% endif %}
<div class="views-rows-container mt-30">
  {% for row in rows|slice(0, row_limit) %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
  {% if hidden_rows is not empty %}
    <div class="hidden-views-rows-container collapse mt-20" id="toggle-{{ comment_type }}">
      {% for row in hidden_rows %}
        <div{{ row.attributes.addClass(row_classes) }}>
          {{- row.content -}}
        </div>
      {% endfor %}
    </div>
    <button class="btn btn-primary mt-20" type="button" data-toggle="collapse" data-target="#toggle-{{ comment_type }}" aria-expanded="false" aria-controls="toggle-{{ comment_type }}">
      {{ ('Show all ' ~ comment_type|split('_')|last ~ 's')|t }}
    </button>
  {% endif %}
</div>
