{#
  /**
  * @file
  * Default theme implementation for a 'form' element.
  *
  * Available variables
  * - attributes: A list of HTML attributes for the wrapper element.
  * - children: The child elements of the form.
  *
  * @see template_preprocess_form()
  *
  * @ingroup themeable
  */
  #}
{# @see https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Search_role#examples #}
<div class="block primary-gray">
  <h4 class="mb-20">
    {{ 'Search'|t }}
  </h4>
  <form{{ attributes.setAttribute('role', 'search') }} class="form">
    <div class="row">
      {{ children }}
    </div>
    <div class="col-12" id="js-search-filters">
      <div class="row">
        <div class="col">
{#          {% embed 'facets-item-list--os2loop-search-db-document.html.twig' %}#}
        </div>
        <div>
          <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target=".search-filters-collapse" aria-expanded="true"
                  aria-controls="searchFilterCollapseFacets searchFilterCollapseOrder">
            <span class="less">{{ 'Hide'|t }}</span><span class="more">{{ 'Show'|t }}</span> {{ 'filters'|t }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
