{#
  /**
  * @file
  * Default theme implementation for a 'form' element.
  *
  * Available variables
  * - attributes: A list of HTML attributes for the wrapper element.
  * - children: The child elements of the form.
  *
  * @see template_preprocess_form()
  *
  * @ingroup themeable
  */
  #}
{# @see https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Search_role#examples #}
<div class="block-primary-gray">
  <form{{ attributes.setAttribute('role', 'search') }} class="form">
    <div class="row">
      {{ children }}
    </div>
    <div class="row mt-20" id="js-search-filters">
      <div class="col-3 ml-auto">
        <button class="btn btn-search-filter btn-block" type="button" data-toggle="collapse" data-target=".search-filters-collapse" aria-expanded="true"
                aria-controls="searchFilterCollapseFacets searchFilterCollapseOrder">
          <span class="less">{{ 'Hide'|t }}</span><span class="more">{{ 'Show'|t }}</span> {{ 'filters'|t }}
          <i class="bi bi-caret-up-fill"></i>
        </button>
      </div>
    </div>
  </form>
</div>
