{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<h2>{{ 'profile'|t|capitalize }}</h2>
<article{{ attributes.addClass('user-profile', 'rounded-lg', 'p-30') }}>
  {% if content %}
  {% set initials = (user.os2loop_user_given_name.value|first ~ user.os2loop_user_family_name.value|first)|upper %}
  {% set full_name = user.os2loop_user_given_name.value ~ ' ' ~ user.os2loop_user_family_name.value %}
  {% set street_address = ((user.os2loop_user_address.value is not empty ? user.os2loop_user_address.value : '') ~ ', ' ~ (user.os2loop_user_postal_code.value is not empty ? user.os2loop_user_postal_code.value : '') ~ (user.os2loop_user_city.value is not empty ? ' ' ~ user.os2loop_user_city.value : ''))|trim(', ', 'left') %}
    <div class="row">
      <div class="col-2 order-1">
        <div class="user-image">
          {{ (user.os2loop_user_image.value is not empty) ? content.os2loop_user_image : initials }}
        </div>
      </div>
      <div class="col-10 order-2">
        <div class="row">
          <div class="col">
            <h5 class="m-0">{{ full_name }}</h5>
            <p class="m-0">{{ user.os2loop_user_job_title.value }}</p>
          </div>
        </div>
        <div class="row mt-30">
          <div class="col">
            <div class="row">
              <div class="col-3">
              {% if user.os2loop_user_phone_number.value is not empty %}
                <div class="user-contact-information mb-10">
                  <i class="bi bi-telephone"></i>
                  <p>{{ user.os2loop_user_phone_number.value }}</p>
                </div>
              {% endif %}
                <div class="user-contact-information">
                  <i class="bi bi-envelope"></i>
                  <p>{{ user.mail.value }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="user-contact-information">
                  <i class="bi bi-geo-alt"></i>
                  <div>
                    <p>{{ user.os2loop_user_place.value }}</p>
                    <p>{{ street_address }}</p>
                  <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-40">
          <div class="col">
            {{ content.os2loop_user_areas_of_expertise }}
          </div>
        </div>
        <div class="row mt-30">
          <div class="col pr-140">
            {{ content.os2loop_user_biography }}
          </div>
      </div>
    </div>
  </div>
  {% endif %}
</article>
