{#
/**
 * Macro to display a node title bar with links and metadata.
 *
 * Variables:
 * - title: The title to display.
 * - class: A class on the H1 element.
 * - node: The node related to the title.
 * - content: Content of the node related to the title.
 * - show_subject: Whether to show subject below the title.
 */
#}
{% macro title(title, class, node, content, show_subject=true, options={}) %}
  <div class="container px-0 title d-inline-flex align-items-top">
    {# icon #}
    <div class="title-icon mr-20">
      {{ source("#{active_theme_path()}/assets/svg/#{class}.svg", ignore_missing=true) }}
    </div>
    <div class="container px-0 title-information">
      <div class="row no-gutters mb-15">
        <div class="col title-text">
          {# text #}
          {{ title_prefix }}
          {# h1 used instead of h2 to be compatible with TOC API module #}
          <h1{{ title_attributes }} class="h2 m-0">
            {% if options.link|default(false) %}
              <a href="{{ path('entity.node.canonical', {node: node.id}) }}" class="link-unstyled">{{ title }}</a>
            {% else %}
              {{ title }}
            {% endif %}
          </h1>
          {{ title_suffix }}
        </div>
        <div class="col-auto title-navigation">
          {# navigation #}
          {% include '@os2loop_theme/navigation/content-tasks.html.twig' %}
        </div>
      </div>
      <div class="row no-gutters mb-30">
        <div class="col title-badges">
          {# badges #}
          <div class="badge badge-{{ class }}">{{ class|capitalize|t }}</div>
          {{ content.os2loop_shared_subject }}
          {{ content.os2loop_shared_profession }}
          {{ content.os2loop_shared_category }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{#
/**
 * Macro to display a term.
 *
 * Variables:
 * - type: Display type configuration of the field value (Link to term or not).
 * - content: The content of the field.
 * - use_color_picker: Whether to use color picker value configured for the taxonomy.
 * - color_picker_value: THe value of the configured term color picker.
 */
#}
{% macro term(type, content, use_color_picker=false, color_picker_value='') %}
  {% if type is same as 'link' %}
    <a class="badge badge-secondary {{ use_color_picker ? color_picker_value }}" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': content['#options'].entity.id}) }}">{{ content['#options'].entity.name.value }}</a>
  {% else %}
    <span class="badge badge-light badge-pill">{{ content['#plain_text'] }}</span>
  {% endif %}
{% endmacro %}

{#
/**
* Macro to display table of contents.
*
* Variables:
* - items: Elements in collection.
* - collection: The document collection.
* - current_node_id: The id of the current node.
*/
#}
{% macro table_of_contents(items, collection, current_node_id=null) %}
  {% if items %}
    <div class="list-group list-display">
      {% for item in items %}
        {% set document = item.document %}
        {% set short_type = document.getType|split('_')|last %}
        {% set is_active_document = current_node_id is same as(document.id) %}
        <div class="container list-group-item list-group-item-action d-inline-flex align-items-top">
          {# icon #}
          <div class="list-display-icon">
            {{ source("#{active_theme_path()}/assets/svg/#{short_type}.svg", ignore_missing=true) }}
          </div>
          <div class="container px-0 list-display-information">
            <div class="row no-gutters">
              <div class="col list-display-text d-inline-flex mx-30">
                {# text #}
                <div class="h5 m-0">
                  <a href="{{ path('entity.node.canonical', {node: document.id, collection: collection.id}) }}" class="link-unstyled">
                    {{ document.title.value }}
                  </a>
                  <span class="badge badge-primary badge-{{ short_type }} align-top ml-20">{{ document.type.entity.label }}</span>
                  {% if is_active_document %}
                    <span class="badge badge-primary align-top ml-20">{{ 'Open document'|t }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="col-auto ml-auto list-display-date text-sm">
                {# date #}
                {{ document.createdtime|date('d-m-Y') }}
              </div>
            </div>
          </div>
        </div>
        {{ item.children ? _self.table_of_contents(item.children, collection, current_node_id) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
